

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="success-message">
                <h2>Payment Successful!</h2>
                <p>Thank you for your payment.</p>
                <p>Your order has been processed successfully.</p>
                <button class="btn btn-primary" (click)="goToHomePage()">Back to Home</button> OR <button class="btn-outline-success" routerLink="/chart">Back to Data</button>
            </div>
        </div>
    </div>
</div>
