<section class="container-fluid">
    <div class="about-container mt-5 mb-4">
      <h1 class="about-title text-center mb-4">Welcome to Transittrail - Your Gateway to Seamless Travel</h1>
      <div class="about-text">
        <p>
          At Transittrail, we are committed to providing you with the best travel experience possible. Whether you're 
          commuting daily, planning a weekend getaway, or embarking on a cross-country adventure, Transittrail makes it 
          easy to find the best routes and travel options. Our app allows you to explore various transport lines, compare 
          prices, and book your trips with ease. 
        </p>
        <p>
          With a focus on reliability and convenience, Transittrail ensures that your travel plans are smooth and hassle-free. 
          Discover the best routes, check real-time schedules, and enjoy exclusive offers on your journeys. Experience the 
          future of travel with TransportX and enjoy a wide range of travel options at your fingertips.
        </p>
      </div>
    </div>
  </section>
  