

<div *ngIf="showLogin" class="outer">
    <div class="container">
      <div class="row">
        <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
          <div class="panel border bg-white">
            <div class="panel-heading">
              <h3 class="pt-3 font-weight-bold">Sign Up</h3>
            </div>
            <form [formGroup]="signUpForm">
              <div class="panel-body p-3">
                <form [formGroup]="signUpForm">
                  <div class="form-group pt-3">
                    <div class="input-field" [class.error]="signUpForm.controls['firstName'].dirty && signUpForm.controls['firstName'].hasError('required')">
                      <span class="bi bi-person-fill p-2"></span>
                      <input formControlName="firstName" type="text" placeholder="FirstName">
                    </div>
                  </div>
                  <small *ngIf="signUpForm.controls['firstName'].dirty && signUpForm.controls['firstName'].hasError('required')" class="text-danger">*FirstName is required</small>
                  
                  <div class="form-group pt-3">
                    <div class="input-field" [class.error]="signUpForm.controls['lastName'].dirty && signUpForm.hasError('required', 'lastName')">
                      <span class="bi bi-person-fill p-2"></span>
                      <input formControlName="lastName" type="text" placeholder="LastName">
                    </div>
                  </div>
                  <small *ngIf="signUpForm.controls['lastName'].dirty && signUpForm.hasError('required', 'lastName')" class="text-danger">*LastName is required</small>
  
                  <div class="form-group pt-3">
                    <div class="input-field" [class.error]="signUpForm.controls['email'].dirty && signUpForm.hasError('required', 'email')">
                      <span class="bi bi-envelope-fill p-2"></span>
                      <input formControlName="email" type="text" placeholder="Email">
                    </div>
                  </div>
                  <small *ngIf="signUpForm.controls['email'].dirty && signUpForm.hasError('required', 'email')" class="text-danger">*Email is required</small>
  
                  <div class="form-group pt-3">
                    <div class="input-field" [class.error]="signUpForm.controls['userName'].dirty && signUpForm.controls['userName'].hasError('required')">
                      <span class="bi bi-person-fill p-2"></span>
                      <input formControlName="userName" type="text" placeholder="Username">
                    </div>
                  </div>
                  <small *ngIf="signUpForm.controls['userName'].dirty && signUpForm.controls['userName'].hasError('required')" class="text-danger">*Username is required</small>
  
                  <div class="form-group pt-3">
                    <div class="input-field" [class.error]="signUpForm.controls['password'].dirty && signUpForm.hasError('required', 'password')">
                      <span class="bi bi-lock-fill p-2"></span>
                      <input formControlName="password" [type]="type" placeholder="Password">
                      <span (click)="hideShowPass()" class="bi {{eyeIcon}}"></span>
                    </div>
                  </div>
                  <small *ngIf="signUpForm.controls['password'].dirty && signUpForm.hasError('required', 'password')" class="text-danger">*Password is required</small>
                  
                  <!-- <div class="form-group pt-3">
                    <div class="input-field">
                      <input formControlName="isAdmin" type="checkbox" id="isAdmin">
                      <label for="isAdmin" class="p-2">Is Admin</label>
                    </div>
                  </div>                   -->
                  <button type="submit" class="btn btn-primary btn-block mt-4 w-100" (click)="onSignup()">Sign up</button>
                  <div class="text-center pt-4 text-muted">Already have account? <a id="forget" routerLink="/login">Login</a></div>
                </form>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  