
.category-card {
    /* Set the height of the category cards as needed */
   transition: transform 0.3s ease; /* Add smooth transition for the hovering effect */
 }
 
 .category-card:hover {
   transform: scale(1.05); /* Enlarge the card on hover */
 }
 
 .category-card img {
   max-width: 100%;
   max-height: 100%;
   object-fit: cover;
 }
 
 
 @media (max-width: 767px) {
   .order-md-last {
     order: -1;
   }
 }
 