
<section>
    <div class="container py-5 mt-2 mb-3">
      <!-- <h2 class="mb-4">Product Categories</h2> -->
      <div class="row row-cols-2 row-cols-md-4 row-cols-lg-6 g-3">
        <div class="col">
          <div class="category-card card d-flex align-items-center justify-content-center">
            <div class="card-body text-center">
              <img src="assets/images/trans/GUO1.jpeg" class="img-fluid" alt="Category 1">
            </div>
          </div>
        </div>
        <div class="col">
          <div class="category-card card d-flex align-items-center justify-content-center">
            <div class="card-body text-center">
              <img src="assets/images/trans/LIBRA2.png" class="img-fluid" alt="Category 2">
            </div>
          </div>
        </div>
        <div class="col">
          <div class="category-card card d-flex align-items-center justify-content-center">
            <div class="card-body text-center">
              <img src="assets/images/trans/GIG.jpeg" class="img-fluid" alt="Category 3">
            </div>
          </div>
        </div>
        <div class="col">
          <div class="category-card card d-flex align-items-center justify-content-center">
            <div class="card-body text-center">
              <img src="assets/images/trans/ABC.jpeg" class="img-fluid" alt="Category 4">
            </div>
          </div>
        </div>
        <div class="col">
          <div class="category-card card d-flex align-items-center justify-content-center">
            <div class="card-body text-center">
              <img src="assets/images/trans/PM.jpeg" class="img-fluid" alt="Category 5">
            </div>
          </div>
        </div>
        <div class="col">
          <div class="category-card card d-flex align-items-center justify-content-center">
            <div class="card-body text-center">
              <img src="assets/images/trans/YG.jpeg" class="img-fluid" alt="Category 6">
            </div>
          </div>
        </div>
        <!-- Repeat this pattern for the remaining categories -->
      </div>
    </div>
  </section>
  